body {
  background-color: #242029;
  color: #7B7188;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1,
h3 {
  color: #1A1324;
}

a {
  color: #7B7188;
}

.centrecontainer {
  display: flex;
  height: 750px;
  justify-content: center;
  align-items: center;
}

.content {
  width: 750px;
}

.header {
  font-weight: bold;
}

.footer {
  font-weight: bold;
}
