body {
  background-color: #242029;
  color: #7B7188;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1,
h3 {
  color: #1A1324;
}

a {
  color: #7B7188;
}

.centrecontainer {
  margin: auto;
}

.content{
  margin: 25%
}

.text{
  margin: auto;
}

.header {
  font-weight: bold;
}

.footer {
  font-weight: bold;
}
